.youtube-body {
  background-color: #E9E9E9; }

.search-bar {
  margin-top: 0px;
  margin-bottom: 16px;
  text-align: center;
  background-color: #fff;
  vertical-align: middle;
  border-radius: 4px;
  border: 1px solid #ddd; }

#alogo {
  color: #373a3c !important; }

#alogo:hover {
  text-decoration: none !important; }

.search-bar .logo {
  display: inline-block;
  vertical-align: middle; }

.input {
  border-color: #D0D0D0;
  border-style: solid; }

.button {
  border-style: solid;
  border-color: #848484;
  vertical-align: middle;
  margin-top: -5px;
  background-color: #ddd;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.button:hover {
  background-color: #D0D0D0; }

.img {
  vertical-align: middle;
  padding-bottom: 0.5%;
  padding-right: 0.5%; }

.search-bar .input {
  margin-top: -14px;
  margin-bottom: -10px;
  display: inline-block;
  border-color: #D0D0D0;
  border-style: solid;
  vertical-align: middle; }

.video-detail .details {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff; }

a {
  color: #438CD0 !important; }

a:hover {
  text-decoration: underline; }

.description {
  color: #6E6E6E; }

.video-item img {
  max-width: 64px; }

.list-group .list-group-item, .inactive {
  cursor: pointer;
  font-size: 14.25px;
  line-height: 1.2em;
  padding-top: 0.72rem;
  padding-bottom: 0.67rem;
  padding-left: 0.75rem;
  padding-right: 1.5rem;
  list-style: none;
  margin-bottom: -0.03px;
  box-sizing: border-box;
  -webkit-transition: 0.05s ease; }

.list-group-item:hover {
  border-width: 4px;
  border-color: #5BA0E1;
  padding-top: 0.52rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  border-radius: 2.5px;
  margin-bottom: -0.01rem; }

.list-group-item.active {
  border-width: 4px !important;
  border-color: #5BA0E1 !important;
  padding-top: 0.525rem !important;
  padding-bottom: 0.5rem !important;
  border-radius: 2.5px !important;
  color: black !important;
  background-color: #fff !important;
  margin-bottom: -0.01rem; }

#footer {
  text-align: center;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px; }

#linkedin, #github, #website {
  vertical-align: middle; }

.youtube-body {
  background-color: #E5E5E5; }

@media only screen and (max-width: 569px) {
  .youtube-body {
    overflow-x: hidden; }

  .search-bar {
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 2%;
    padding-bottom: 4.25%; }

  .search-bar .logo {
    font-size: 16px;
    padding-top: 3%;
    padding-left: 1%; }

  .img {
    width: 17.5%;
    padding-right: 1%; }

  .search-bar .input {
    padding-left: 1.5%;
    width: 45%;
    margin-left: 5.5%;
    font-size: 16px;
    clear: left;
    height: 30px;
    box-sizing: border-box; }

  .button {
    height: 30px;
    width: 30px;
    margin-bottom: -1px;
    margin-left: -2px;
    box-sizing: border-box; }

  .video-item img {
    max-width: 64px; }

  .video-detail {
    margin-left: 2%; }

  .video-detail .details {
    margin-top: 14px;
    font-size: 12.5px; }

  .list-group {
    margin-left: 2%;
    margin-bottom: 0;
    padding-top: 13.5px; }

  #linkedin {
    width: 5.5%;
    padding-bottom: 2px; }

  #github {
    width: 6.5%;
    padding-bottom: 3px; }

  #website {
    width: 6.5%;
    padding-bottom: 3px; }

  #footer {
    margin-top: 20px;
    font-size: 14px;
    margin-right: -5px;
    padding-left: 5px;
    padding-bottom: 15px; } }
@media only screen and (min-width: 570px) and (max-width: 748px) {
  .youtube-body {
    overflow-x: hidden; }

  .search-bar {
    margin-left: -100px;
    margin-right: -100px;
    padding-top: 2%;
    padding-bottom: 4.5%; }

  .search-bar .logo {
    font-size: 25px;
    padding-top: 3%;
    padding-left: 1%; }

  .img {
    width: 17.5%;
    padding-right: 1%; }

  .search-bar .input {
    padding-left: 1.5%;
    width: 42.5%;
    margin-left: 5.5%;
    font-size: 16px;
    clear: left;
    height: 40px;
    box-sizing: border-box; }

  .button {
    margin-bottom: -1px;
    margin-left: -2px;
    height: 40px;
    width: 40px;
    box-sizing: border-box; }

  .video-item img {
    max-width: 64px; }

  .video-detail {
    margin-left: 2%; }

  .video-detail .details {
    margin-top: 14px;
    font-size: 12.5px; }

  .list-group {
    margin-left: 2%;
    margin-bottom: 0;
    padding-top: 13.5px; }

  #linkedin {
    width: 3.5%;
    padding-bottom: 2px; }

  #github {
    width: 4.5%;
    padding-bottom: 3px; }

  #website {
    width: 4.5%;
    padding-bottom: 3px; }

  #footer {
    margin-top: 20px; } }
@media only screen and (min-width: 750px) and (max-width: 1020px) {
  .youtube-body {
    overflow-x: hidden; }

  .search-bar {
    margin-left: -60px;
    margin-right: -60px;
    padding-top: 2%;
    padding-bottom: 7.25%; }

  .search-bar .logo {
    font-size: 25px;
    vertical-align: middle;
    padding-top: 1%;
    padding-left: 3%;
    height: 40px;
    box-sizing: border-box; }

  .img {
    width: 15%;
    padding-right: 1%; }

  .search-bar .input {
    padding-left: 0.75%;
    width: 55%;
    margin-left: 12.75%;
    margin-bottom: -10px;
    font-size: 20px; }

  .button {
    display: none; }

  .video-detail .details {
    margin-top: 14px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff; }

  .video-detail {
    margin-left: -32.5px; }

  .list-group {
    margin-left: -12px;
    margin-bottom: 0;
    float: left; }

  .list-group-item .media-object {
    max-width: 96px; }

  .list-group-item {
    min-width: 300px; }

  #linkedin {
    width: 3.5%;
    padding-bottom: 2px; }

  #github {
    width: 4.5%;
    padding-bottom: 3px; }

  #website {
    width: 4.25%;
    padding-bottom: 3px; }

  #footer {
    position: absolute;
    bottom: 0; } }
@media only screen and (min-width: 1023px) and (max-width: 1100px) {
  .youtube-body {
    overflow-x: hidden; }

  .search-bar {
    margin-left: -60px;
    margin-right: -60px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 20px; }

  .search-bar .logo {
    font-size: 30px;
    vertical-align: middle;
    padding-top: 1%;
    padding-left: 1.5%; }

  .img {
    width: 12.5%;
    padding-right: 1%; }

  .search-bar .input {
    padding-left: 0.75%;
    width: 55%;
    margin-left: 9.5%;
    margin-bottom: -10px;
    font-size: 20px;
    height: 40px;
    box-sizing: border-box; }

  .button {
    display: none; }

  .video-detail .details {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff; }

  .video-detail {
    margin-left: -2px; }

  .list-group {
    margin-left: -7.5px;
    margin-bottom: 0;
    float: left; }

  .list-group-item .media-object {
    max-width: 96px; }

  .list-group-item {
    min-width: 300px; }

  #linkedin {
    width: 3.25%;
    padding-bottom: 2px; }

  #github {
    width: 3.75%;
    padding-bottom: 3px; }

  #website {
    width: 3.75%;
    padding-bottom: 3px; }

  #footer {
    position: absolute;
    bottom: 0; } }
@media only screen and (min-width: 1200px) and (max-width: 1490px) {
  .youtube-body {
    overflow-x: hidden; }

  .youtube-body {
    overflow-x: hidden; }

  .button {
    display: none; }

  .search-bar {
    margin-left: -170px;
    margin-right: -170px;
    padding-top: 0.75%;
    padding-bottom: 0.3%;
    margin-bottom: 20px; }

  .search-bar .logo {
    font-size: 22px;
    padding-left: 0.3%;
    padding-top: 0.1%; }

  .img {
    width: 7%;
    padding-bottom: 0.5%;
    padding-right: 0.5%; }

  .search-bar .input {
    padding-left: 0.6%;
    width: 604.5px;
    margin-left: 20.4%;
    margin-top: -16px;
    font-size: 17.5px; }

  .video-item img {
    max-width: 64px; }

  .video-detail {
    padding-left: 10%; }

  .video-detail .details {
    margin-top: 20px; }

  .list-group {
    margin-left: -9px;
    margin-right: -5px;
    margin-bottom: 0; }

  #linkedin {
    max-width: 2%;
    padding-bottom: 3px; }

  #github {
    max-width: 2.5%;
    padding-bottom: 3px; }

  #website {
    max-width: 2.5%;
    padding-bottom: 3px; }

  #footer {
    margin-top: 40px; } }
@media only screen and (min-width: 1500px) and (max-width: 3000px) {
  .youtube-body {
    overflow-x: hidden; }

  .youtube-body {
    overflow-x: hidden; }

  .button {
    display: none; }

  .search-bar {
    margin-left: -500px;
    margin-right: -500px;
    padding-top: 4%;
    padding-bottom: 0.5%;
    margin-bottom: 30px; }

  .search-bar .logo {
    font-size: 22px;
    padding-left: 0.3%;
    padding-top: 0.05%; }

  .img {
    width: 7.75%;
    padding-bottom: 0.5%;
    padding-right: 0.5%; }

  .search-bar .input {
    padding-left: 0.6%;
    width: 540px;
    margin-left: 20.4%;
    margin-top: -15px;
    font-size: 17.5px; }

  .video-detail {
    padding-left: 10%; }

  .video-detail .details {
    margin-top: 30px;
    max-height: 143px;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    padding-left: 14px; }

  .list-group {
    margin-left: 1px;
    margin-right: -5px;
    margin-bottom: 0; }

  #linkedin {
    max-width: 1.5%;
    padding-bottom: 3px; }

  #github {
    max-width: 1.75%;
    padding-bottom: 3px; }

  #website {
    max-width: 1.75%;
    padding-bottom: 3px; }

  #footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 8px; } }

/*# sourceMappingURL=finalStyle.css.map */
