.youtube-body {
  background-color: #E9E9E9;
}

.search-bar {
  margin-top: 0px;
  margin-bottom: 16px;
  text-align: center;
  background-color: #fff;
  vertical-align: middle;
  border-radius: 4px;
  border: 1px solid #ddd;
}

#alogo {
  color: #373a3c !important;
}

#alogo:hover {
  text-decoration: none !important;
}

.search-bar .logo {
  display: inline-block;
  vertical-align: middle;
}

.input {
  border-color: #D0D0D0;
  border-style: solid;
}

.button {
  border-style: solid;
  border-color: #848484;
  vertical-align: middle;
  margin-top: -5px;
  background-color: #ddd;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button:hover {
  background-color: #D0D0D0;
}

.img {
  vertical-align: middle;
  padding-bottom: 0.5%;
  padding-right: 0.5%;
}

.search-bar .input {
  margin-top: -14px;
  margin-bottom: -10px;
  display: inline-block;
  border-color: #D0D0D0;
  border-style: solid;
  vertical-align: middle;
}

@mixin search-bar--mp() { // Mobile portrait
  .search-bar {
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 2%;
    padding-bottom: 4.25%;
  }

  .search-bar .logo {
    font-size: 16px;
    padding-top: 3%;
    padding-left: 1%;
  }

  .img {
    width: 17.5%;
    padding-right: 1%;
  }

  .search-bar .input {
    padding-left: 1.5%;
    width: 45%;
    margin-left: 5.5%;
    font-size: 16px;
    clear: left;
    height: 30px;
    box-sizing: border-box;
  }

  .button {
    // font-size: 17px;
    height: 30px;
    width: 30px;
    margin-bottom: -1px;
    margin-left: -2px;
    box-sizing: border-box;
  }
}

@mixin search-bar--ml() { // Mobile landscape
  .search-bar {
    margin-left: -100px;
    margin-right: -100px;
    padding-top: 2%;
    padding-bottom: 4.5%;
  }

  .search-bar .logo {
    font-size: 25px;
    padding-top: 3%;
    padding-left: 1%;
  }

  .img {
    width: 17.5%;
    padding-right: 1%;
  }

  .search-bar .input {
    padding-left: 1.5%;
    width: 42.5%;
    margin-left: 5.5%;
    font-size: 16px;
    clear: left;
    height: 40px;
    box-sizing: border-box;
  }

  .button {
    // font-size: 17px;
    margin-bottom: -1px;
    margin-left: -2px;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
  }
}

@mixin search-bar--ipad() {
  .search-bar {
    margin-left: -60px;
    margin-right: -60px;
    padding-top: 2%;
    padding-bottom: 7.25%;
  }

  .search-bar .logo {
    font-size: 25px;
    vertical-align: middle;
    padding-top: 1%;
    padding-left: 3%;
    height: 40px;
    box-sizing: border-box;
  }

  .img {
    width: 15%;
    padding-right: 1%;
  }

  .search-bar .input {
    padding-left: 0.75%;
    width: 55%;
    margin-left: 12.75%;
    margin-bottom: -10px;
    font-size: 20px;
  }

  .button {
    // font-size: 21px;
    // margin-top: -3px;
    // margin-left: -2px;
    // height: 40px;
    // box-sizing: border-box;
    display: none;
  }
}

@mixin search-bar--ipadpro() {
  .search-bar {
    margin-left: -60px;
    margin-right: -60px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 20px;
  }

  .search-bar .logo {
    font-size: 30px;
    vertical-align: middle;
    padding-top: 1%;
    padding-left: 1.5%;
  }

  .img {
    width: 12.5%;
    padding-right: 1%;
  }

  .search-bar .input {
    padding-left: 0.75%;
    width: 55%;
    margin-left: 9.5%;
    margin-bottom: -10px;
    font-size: 20px;
    height: 40px;
    box-sizing: border-box;
  }

  .button {
    // font-size: 21px;
    // margin-top: -5px;
    // margin-left: -2px;
    // padding-bottom: 5%;
    // height: 40px;
    // box-sizing: border-box;
    display: none;
  }
}

@mixin search-bar--default() {
  .youtube-body {
    overflow-x: hidden;
  }

  .button {
    display: none;
  }
  .search-bar {
    margin-left: -170px;
    margin-right: -170px;
    padding-top: 0.75%;
    padding-bottom: 0.3%;
    margin-bottom: 20px;
  }

  .search-bar .logo {
    font-size: 22px;
    padding-left: 0.3%;
    padding-top: 0.1%;
  }

  .img {
    width: 7%;
    padding-bottom: 0.5%;
    padding-right: 0.5%;
  }

  .search-bar .input {
    padding-left: 0.6%;
    width: 604.5px;
    margin-left: 20.4%;
    margin-top: -16px;
    font-size: 17.5px;
  }
}

@mixin search-bar--big() {
  .youtube-body {
    overflow-x: hidden;
  }

  .button {
    display: none;
  }
  .search-bar {
    margin-left: -500px;
    margin-right: -500px;
    padding-top: 4%;
    padding-bottom: 0.5%;
    margin-bottom: 30px;
  }

  .search-bar .logo {
    font-size: 22px;
    padding-left: 0.3%;
    padding-top: 0.05%;
  }

  .img {
    width: 7.75%;
    padding-bottom: 0.5%;
    padding-right: 0.5%;
  }

  .search-bar .input {
    padding-left: 0.6%;
    width: 540px;
    margin-left: 20.4%;
    margin-top: -15px;
    font-size: 17.5px;
  }
}
